.diagram-message {
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto; /* let it only take the width that it  needs */
  height: auto;

}

.message-bubble {
  background: #dcf8c6;
  color: #111;

  padding: clamp(0.7rem, 2.5cqi, 1rem);
  border-radius: clamp(6px, 3cqi, 18px);

  max-width: 260px;

  position: relative;
  font-size: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

  white-space: nowrap;                
  text-overflow: ellipsis;
}
.message-bubble::after {
  content: "";

  position: absolute;

  right: -8px;
  bottom: 0;

  width: 0;
  height: 0;

  border-left: 10px solid #dcf8c6;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  
}